<mat-tab-group mat-align-tabs="center" style="max-width: 1060px; margin: auto">

  <ng-container *ngFor="let genre of albumGenreList">
    <mat-tab label="{{genre.fields.albumGenre}}">

      <ng-container *ngFor="let album of albumsList">

        <!--todo check for multiple genres-->
        <div class="album-2" *ngIf="genre.sys.id === album.fields.albumGenre[0].sys.id">
          <div class="album-2__list">
            <div class="album-2__list-item">
              <div class="album-2__list-item-image">
                <a routerLink="/album/{{album.sys.id}}"><img src="{{album.fields.mainPhoto.fields.file.url}}"></a>
              </div>
            </div>
          </div>
        </div>
      </ng-container>


    </mat-tab>

  </ng-container>
</mat-tab-group>




