<div class="sm">
  <button routerLink="/" mat-icon-button color="primary" aria-label="Link to home page" routerLinkActive="active">
    <mat-icon>home</mat-icon>
  </button>
  <button routerLink="/help" aria-label="Link to faq page" mat-icon-button color="primary" routerLinkActive="active">
    <mat-icon>help</mat-icon>
  </button>
  <button routerLink="/contact" mat-icon-button color="primary" aria-label="Link to home page" routerLinkActive="active">
    <mat-icon>mail</mat-icon>
  </button>
  <button routerLink="/contact" mat-icon-button color="primary" aria-label="Link to home page" routerLinkActive="active">
    <mat-icon>menu</mat-icon>
  </button>
</div>

<div class="lg">
  <button routerLink="/" mat-button color="primary" aria-label="Link to home page" routerLinkActive="active">
    <span>Home</span>
  </button>
  <button routerLink="/help"  mat-button aria-label="Link to faq page" color="primary" routerLinkActive="active">
    <span>Help</span>
  </button>
  <button routerLink="/contact" mat-button color="primary" aria-label="Link to home page" routerLinkActive="active">
    <span>Contact</span>
  </button>
  <button routerLink="/contact" mat-button color="primary" aria-label="Link to home page" routerLinkActive="active">
    <span>Menu</span>
  </button>
</div>




