

  <button mat-stroked-button
          color="primary"
          aria-label="Link to portfolio page"
          routerLink="/portfolio"
          routerLinkActive="active">Portfolio</button>

  <button mat-stroked-button
          color="primary"
          aria-label="Link to faq page"
          routerLink="/faq" routerLinkActive="active">FAQ</button>

  <button mat-stroked-button
          color="primary"
          aria-label="Link to contacts page"
          routerLink="/contact" routerLinkActive="active">Contact me</button>



