

           <ng-container *ngIf="album && !isSwiperVisible">

             <mat-grid-list [cols]="cols" rowHeight="1:1">

                 <ng-container *ngFor="let photo of album.fields.photos; let i = index;">
                   <mat-grid-tile>
                    <img (click)="showSwiper(i)" class="album__image" src="{{photo.fields.file.url}}?fm=webp&fit=fill&w=600&h=600" loading="lazy">
                   </mat-grid-tile>
                 </ng-container>

             </mat-grid-list>
           </ng-container>

           <mat-spinner *ngIf="!album"></mat-spinner>



           <app-album-swiper *ngIf="album && isSwiperVisible"
                             [album]="album"
                             [initialSwiperIndex]="initialSwiperIndex"
                             [viewportDimensions]="viewportDimensions"
                             (closeEvent)="closeSwiper()"
           ></app-album-swiper>

          <!-- <button type="button" (click)="goBack()">go back</button>-->
