<swiper
  [config]="config"
  (swiper)="onSwiper($event)"
  (slideChange)="onSlideChange()"
>
  <ng-template swiperSlide>
    <img src="images/test-album/ts_1.jpg" alt=""/>

    <div class="category-title category-title--n-1">
      Wedding photography
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <img src="images/test-album/ts_2.jpg" alt=""/>

    <div class="category-title category-title--n-2">
       Business portrait
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <img src="images/test-album/ts_3.jpg" alt=""/>

    <div class="category-title category-title--n-3">
      Catalogs
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <img src="images/test-album/ts_3.jpg" alt=""/>

    <div class="category-title category-title--n-3">
      Family
    </div>
  </ng-template>
</swiper>
